<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WiiBalanceWalker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WiiBalanceWalker.Properties.Settings>
            <setting name="EnableJoystick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowValuesInConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendCGtoXY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Send4LoadSensors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupAutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTare" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableActions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="AreaWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="AreaHeight" serializeAs="String">
                <value>1080</value>
            </setting>
        </WiiBalanceWalker.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
